# Java / Maven / Gradle / IDE
**/target/
**/build/
**/*.iml
.idea/
.project
.classpath
.settings/
.DS_Store

# Python
**/__pycache__/
**/.venv/
**/.pytest_cache/
**/.mypy_cache/

# Docker
**/.env
.env.local

# OS / Misc
*.log
.env
.env.*

# frontend env
web/.env*
# backend env
backend/.env*
