services:

  postgres:
    image: postgres:16
    container_name: rtap-postgres
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: analytics
    ports:
      - "5432:5432"
    volumes:
      - ./db/schema.sql:/docker-entrypoint-initdb.d/001-schema.sql
      - pgdata:/var/lib/postgresql/data

  redis:
    image: redis:7
    container_name: rtap-redis
    ports:
      - "6379:6379"

  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    container_name: rtap-backend

    depends_on:
      - postgres
      - redis

    environment:
      # === DATABASE ===
      SPRING_DATASOURCE_URL: jdbc:postgresql://postgres:5432/analytics
      SPRING_DATASOURCE_USERNAME: postgres
      SPRING_DATASOURCE_PASSWORD: postgres

      # === JWT CONFIG ===
      # Matches @Value("${rtap.jwt.secret}") and @Value("${rtap.jwt.ttlSeconds}")
      RTAP_JWT_SECRET: "Qy9vXo2mGk7hUnb1cR3Yp6Zs8JtLwN2qF5aD8sK1rV4xE7mB0pH3uW9yT2zC6a"
      RTAP_JWT_TTLSECONDS: "86400"

      # === REDIS ===
      SPRING_REDIS_HOST: redis
      SPRING_REDIS_PORT: "6379"

      # === JPA ===
      SPRING_JPA_HIBERNATE_DDL_AUTO: none
      SPRING_JPA_SHOW_SQL: "false"

      # === SPRING PROFILE ===
      SPRING_PROFILES_ACTIVE: docker

    ports:
      - "8080:8080"

  web:
    build:
      context: ./web
      dockerfile: Dockerfile
      args:
        # This is what the frontend will use to call the backend *inside Docker*
        - VITE_API_BASE=http://localhost:8080
    container_name: rtap-web
    depends_on:
      - backend
    ports:
      - "5173:80"

  pipeline:
    build:
      context: ./pipeline
      dockerfile: Dockerfile
    container_name: rtap-pipeline
    depends_on:
      - postgres
    environment:
      DB_HOST: postgres
      DB_PORT: "5432"
      DB_NAME: analytics
      DB_USER: postgres
      DB_PASSWORD: postgres
      PYTHONUNBUFFERED: "1"        # ← add this
    command: ["python","-u","-m","app.main"]   # ← add -u
  prometheus:
    image: prom/prometheus:v2.55.0
    container_name: rtap-prometheus
    volumes:
      - ./monitoring/prometheus.yml:/etc/prometheus/prometheus.yml:ro
    command:
      - '--config.file=/etc/prometheus/prometheus.yml'
      - '--web.enable-lifecycle'
    ports:
      - "9090:9090"
    depends_on:
      - backend
      - pipeline

  grafana:
    image: grafana/grafana:10.4.6
    container_name: rtap-grafana
    ports:
      - "3000:3000"
    environment:
      - GF_SECURITY_ADMIN_USER=admin
      - GF_SECURITY_ADMIN_PASSWORD=admin
      - GF_USERS_DEFAULT_THEME=light
    volumes:
      - ./monitoring/grafana/provisioning/datasources:/etc/grafana/provisioning/datasources
      - ./monitoring/grafana/provisioning/dashboards:/etc/grafana/provisioning/dashboards
      - ./grafana-rtap-overview.json:/etc/grafana/dashboards/rtap-overview.json:ro
    depends_on:
      - prometheus

volumes:
  pgdata:
